$header-height: 4rem;

$_font-base: 0.8rem;
$_heading-scale-factor: 1.25;

$_h6: $_font-base;
$_h5: $_h6 * $_heading-scale-factor;
$_h4: $_h5 * $_heading-scale-factor;
$_h3: $_h4 * $_heading-scale-factor;
$_h2: $_h3 * $_heading-scale-factor;
$_h1: $_h2 * $_heading-scale-factor;

html {
  font-size: $_font-base;
}

h6 {
  font-size: $_h6;
  font-weight: 500;
}

h5 {
  font-size: $_h5;
  font-weight: 500;
}

h4 {
  font-size: $_h4;
  font-weight: 500;
}

h3 {
  font-size: $_h3;
  font-weight: 600;
}

h2 {
  font-size: $_h2;
  font-weight: 700;
}

h1 {
  font-size: $_h1;
  font-weight: 800;
}
