$white: 255 255 255;
$accent-blue: 12 230 242;
$accent-pink: 238 104 129;

$light-pink: 236 64 122;
$purple: 142 36 170;
$mid-light: 0 152 219;
$mid: 30 87 156;
$mid-dark: 32 53 98;
$dark: 37 36 70;
$black: 32 21 51;

$black-red: 71 0 19;

@mixin background-gradient {
  background: rgb($dark);
  background: linear-gradient(35deg,
      rgb($black) 0%,
      rgb($dark) 64%,
      rgb($mid-dark) 100%);
}
