---
interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props;
---

<div class="block">
  <div class="head">
    <h3>{title}</h3>
    <label for={id}></label>
  </div>
  <input type="checkbox" id={id} />
  <div class="tricky-grid">
    <div class="columns">
      <div class="stripe"></div>
      <ul>
        <slot />
      </ul>
    </div>
  </div>
</div>

<style lang="scss">
  h3 {
    line-height: 1.2;
  }

  .head {
    width: 100%;
    position: relative;
    margin-block: 0.6rem;
  }

  .columns {
    display: grid;
    grid-template-columns: 1.4rem 1fr;
  }

  .stripe {
    margin-left: 0.2rem;
    width: 1px;
    height: 100%;
    background: rgb($white);
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .tricky-grid {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms;

    .columns {
      overflow: hidden;
    }
  }

  label {
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  input {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    display: block;
    opacity: 0;
  }

  input:checked ~ .tricky-grid {
    grid-template-rows: 1fr;
  }

  input:checked ~ label::before {
    content: "Свернуть";
  }

  label::before {
    content: "Показать";
    position: absolute;
    text-decoration: underline;
    line-height: 2rem;
    right: 0rem;
    top: 0rem;
  }
</style>
