---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header.astro";
import Main from "../components/containers/Main.astro";
import TabView from "../components/containers/TabView.astro";
import skills from "../data/skills";
---

<Layout title="belowdecent">
  <Header />
  <Main>
    <h1>Добро пожаловать</h1>
    <p>
      Меня зовут Аскар Кантурин, мне 22<br />
       И это мой личный веб-сайт
    </p>
    <h2>Мои проекты</h2>
    <p>
      Проекты: - сделать странички проектам и добавить линки
      на гитхабы
    </p>
    <h2>О себе</h2>
    <p style="display: none">
      <a>Программист</a>, <a>музыкант</a>, <a>геймдев</a>.
      <br />
       С раннего детства я любил создавать и придумывать.
      <br />
       Неважно что: персонажей, мелодии, цвета, сценарии,
      игры — важен сам процесс: перед тобой "чистый лист", и
      путем смешных и не очень операций ты делаешь этот лист
      грязным.
      <br />
       Первое где я начал реализовывать свою пассию к
      созиданию — это поэзия. К сожалению или счастью мои
      работы в этом направлении были утеряны, но я не думаю,
      что 6-летний я мог похвастаться хорошим слогом.
      <br />
       После этого я начал пробовать себя в рисовании (как
      наверное любой уважающий себя 10-летний ребенок), но
      далеко особо не ушел, так как это не казалось мне
      особо интересным.
      <br />
       Потом родители меня отдали в музыкальную школу, с
      чего началось моё увлечение музыкой.
      <br />
       И в 13 лет, помогая отцу с разработкой сайтов я
      познакомился с программированием, которым я активно
      занимаюсь до сих пор.
    </p>
    <TabView name="skills" content={skills}/>
  </Main>
</Layout>

<style lang="scss"></style>
