---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header.astro";
import Main from "../components/containers/Main.astro";
import ProjectCard from "../components/cards/ProjectCard.astro";
import ProjectCardList from "../components/cards/ProjectCardList.astro";
---

<Layout title="Мои проекты">
  <Header />
  <Main>
    <h1>Мои проекты</h1>
    <ProjectCardList title="Web" id="web">
      <ProjectCardList title="React" id="react">
        <ProjectCard 
          title="Мини-блог на Next.js" 
          linkTo="https://github.com/belowdecent/little-nextjs-proj" 
          id="nextjs-thing"
        >
          Небольшой блог использующий фреймворк Next.js.
        </ProjectCard>
        <ProjectCard 
          title="Pet Rocks" 
          linkTo="https://github.com/belowdecent/petrock-app"
          id="petrock-app"
        >
          Сайт, что хранит информацию о камнях-питомцев зарегистрированных пользователей.
          <br/>
          Бекенд написан на Nest.js, фронтенд на React.
          Использует токены JWT.
        </ProjectCard>
      </ProjectCardList>
      <ProjectCardList title="Astro" id="astro">
        <ProjectCard 
          title="Этот сайт" 
          linkTo="https://github.com/belowdecent/website" 
          id="this-website"
        >
          Собственно, мой личный сайт, на котором вы сейчас находитесь, написан на Astro.
          Мой любимый фреймворк, для небольших проектов, наверное, лучше не найти.
        </ProjectCard>
      </ProjectCardList>
    </ProjectCardList>
  </Main>
</Layout>

<style lang="scss">
</style>
