---
interface Props {
	linkTo?: string;
}

const { linkTo = "/" } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const activeClass: string[] =
	pathname === linkTo ? ["active"] : [];
---

<li class:list={activeClass}>
	<a href={linkTo}>
		<slot />
	</a>
</li>

<style lang="scss">
	li {
		position: relative;
		overflow: hidden;
		line-height: calc(128px - 3rem);
		max-height: calc(128px - 3rem + 3px);

		&:hover,
		&.active {
			a,
			a:any-link {
				background: rgb($white);
				color: rgb($black);
			}
		}
		&.active {
			max-height: unset;

			a,
			a:any-link {
				line-height: calc(128px - 1rem);
			}
		}
	}

	a,
	a:any-link {
		display: block;
		min-width: 10ch;
		text-align: center;
		border: 3px dashed rgb($white);
		border-top: none;
		color: rgb($white);
		text-decoration: none;
		text-transform: uppercase;
		z-index: 5;
		transition:
			background 0.1s,
			color 0.1s,
			border-radius 0.1s;
	}
</style>
